:root {

    --text: #FFE0B5;
    --title: #FFE0B5;
    --primary: #FFE0B5;
    --background: #232020;

    --bs-border-color: var(--primary);
}

body {
    display: flex;
    /* col  or: #323232; */
    /* background-color: #fefefe; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 0.0525em;
    line-height: 1.4em;
}   